/* grid */
.ship{background:url('img/sprites.png') no-repeat;}

/* ships and field */
.outer{margin-bottom:25px;}
.field10x10{width:366px;height:363px;position:relative;background:url('img/bg_play_field10x10.png') no-repeat;}
.field13x13{width:465px;height:465px;position:relative;background:url('img/bg_play_field13x13.png') no-repeat;}
.field15x15{width:528px;height:528px;position:relative;background:url('img/bg_play_field15x15.png') no-repeat;}
.field-user{float:none;margin:auto;}

.ships{width:330px;height:330px;position:relative;left:29px;top:27px;}
.ship{height:35px;position:absolute;}
.vertical{transform:rotate(90deg);transform-origin:17.5px 17.5px;}

.quadruple_deck{width:134px;background-position:0 0;}
.triple_deck{width:101px;background-position:-150px 0;}
.double_deck{width:68px;background-position:-270px 0;}
.single_deck{width:35px;background-position:-360px 0;}

/* positioning */
.my-image{max-width:100%;height:auto;} img{vertical-align:middle} a{color:inherit}
.my-font-large{font-size:18px!important}
.my-font-center{text-align:center!important}
.my-display-middle-left{position:absolute;left:0;top:10%}
.my-display-middle-right{position:absolute;right:0;top:10%}
.my-padding{padding:8px 16px!important}
.my-padding-16px{padding-top:16px!important;padding-bottom:16px!important}
.my-padding-32px{padding-top:32px!important;padding-bottom:32px!important}
.my-padding-large{padding:12px 24px!important}
.my-margin-top{margin-top:16px!important}
.my-margin-left{margin-left:16px!important}
.my-margin-right{margin-right:16px!important}
.my-margin-bottom{margin-bottom:16px!important}
.my-content{max-width:980px;margin:auto}
.my-half{float:left;width:100%;padding:0 8px}
.my-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

@media (min-width:601px){.my-col.m1{width:8.33333%}.my-col.m2{width:16.66666%}.my-col.m3,.my-quarter{width:24.99999%}.my-col.m4,.my-third{width:33.33333%}
.my-col.m5{width:41.66666%}.my-col.m6,.my-half{width:49.99999%}.my-col.m7{width:58.33333%}.my-col.m8,.my-twothird{width:66.66666%}
.my-col.m9,.my-threequarter{width:74.99999%}.my-col.m10{width:83.33333%}.my-col.m11{width:91.66666%}.my-col.m12{width:99.99999%}}
@media (min-width:993px){.my-col.l1{width:8.33333%}.my-col.l2{width:16.66666%}.my-col.l3{width:24.99999%}.my-col.l4{width:33.33333%}
.my-col.l5{width:41.66666%}.my-col.l6{width:49.99999%}.my-col.l7{width:58.33333%}.my-col.l8{width:66.66666%}
.my-col.l9{width:74.99999%}.my-col.l10{width:83.33333%}.my-col.l11{width:91.66666%}.my-col.l12{width:99.99999%}}

/* buttons */
.my-button{box-shadow:0 4px #999;border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;outline:none;}
.my-button:hover{color:#000!important;background-color:#ccc!important}
.my-button:active{box-shadow:0 1px #666;transform:translateY(3px);}

/* colors */
.my-red{color:#fff!important;background-color:#f44336!important}
.my-blue{color:#fff!important;background-color:#2196F3!important}
.my-green{color:#fff!important;background-color:#26A69A!important}
.my-black{color:#fff!important;background-color:#000!important}
.my-white{color:#000!important;background-color:#fff!important}
.my-dark-grey{color:#fff!important;background-color:#616161!important}
.my-light-grey{color:#000!important;background-color:#f1f1f1!important}
.my-hover-opacity:hover{opacity:0.60;}
.my-text-white{color:#fff!important;}
.my-text-green{color:#26A69A!important;}

/* display */
[data-hidden="true"]{display:none;}
[data-hidden="false"], .block{display:block;}
