.view{float:left;overflow:hidden;position:relative;text-align:center;box-shadow:1px 1px 2px #e6e6e6;cursor:default;}
.view .mask,.view .content{width:363px;height:273px;position:absolute;overflow:hidden;top:0;left:0}
.view img{display:block;position:relative;}
/* .view h2{text-transform:uppercase;color:#fff;text-align:center;position:relative;font-size:17px;font-family:Raleway, serif;padding:10px;margin:20px 0 0 0} */
.view p{font-size:14px;position:relative;color:#fff;padding:0px 20px;text-align:center}
.view a.info{display:inline-block;text-decoration:none;padding:7px 14px;background:#000;color:#fff;font-family:Raleway, serif;text-transform:uppercase;box-shadow:0 0 1px #000}
.view a.info:hover{box-shadow:0 0 5px #000}

.view-battle img{width:741px!important;height:563px!important;}
.view-battle .mask,.view-battle .content{width:741px;height:563px;}
.view-battle h2{margin:150px 0 0 0!important;}
.view-first img{transition:all 0.2s linear;width:363px;height:273px;}
.view-first .mask{opacity:0;background-color:rgba(38, 166, 153, 0.651);transition:all 0.4s ease-in-out;}
.view-first h2{transform:translateY(-100px);opacity:0;font-family:Raleway, serif;transition:all 0.2s ease-in-out;}
.view-first p{transform:translateY(100px);opacity:0;transition:all 0.2s linear;}
.view-first a.info{opacity:0;transition:all 0.2s ease-in-out;}
.view-first:hover img{transform:scale(1.1);}
.view-first:hover .mask{opacity:1;}
.view-first:hover h2,.view-first:hover p,.view-first:hover a.info{opacity:1;transform:translateY(0px);}
.view-first:hover p{transition-delay:0.1s;}
.view-first:hover a.info{transition-delay:0.2s;}